<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jdo589gv4353.tabme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartJoin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTrans"
            android:screenOrientation="portrait" />
        <activity android:name=".JoinTab" />
        <activity android:name=".StartTab" />
        <activity android:name=".EditTrans" />
        <activity android:name=".AddUser" />
        <activity android:name=".CompleteTab" />
        <activity android:name=".ConfirmComplete"></activity>
    </application>

</manifest>
